<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Radar Point Visualization</title>
    <link rel="icon" type="image/png" href="/images/fly_eye_icon_without_background.png" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/671e0cb2b6.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>

<body>

    <!-- HEADER -->
    <div id="navigation" th:insert="~{fragments/nav :: nav}"></div>
    <!-- END HEADER -->

    <main>
        <aside>
            <h1>Perimeters</h1>
            <ul id="perimeterList">
                <li th:id="'p'+${perimeter.perimeterID}" class="perimeterItem" th:each="perimeter : ${perimeters}">
                    <span th:text="'ID: ' + ${perimeter.perimeterID} + ' &nbsp;&nbsp;Name: ' + ${perimeter.name}"></span><br>
                    <span th:text="'&nbsp;&nbsp;Date: ' + ${#dates.format(perimeter.date, 'yyyy/MM/dd HH:mm:ss')}"></span>
                </li>
            </ul>
            <div>
                <button id="scanPerimeterBtn">Scan new</button>
                <button id="stopRadarBtn">Stop radar</button>
                <button id="deletePerimeterBtn">Delete</button>
            </div>
        </aside>
        <section>
            <!-- Canvas para dibujar el radar -->
            <div id="radar" class="container">
                <div id="divRadarCanvas">
                    <canvas id="radarCanvas" width="600" height="600"></canvas>
                </div>
            </div>
        </section>
    </main>

    <!-- FOOTER -->
    <div th:insert="~{fragments/footer :: footer}"></div>
    <!-- FIN FOOTER -->

    <script src="/js/index.js"></script>
    <script src="/js/radar.js"></script>
    <script th:inline="javascript">
        const currentPerimeter = /*[[${currentPerimeter}]]*/ null;

        if (currentPerimeter != null) {
            perimeterMap = currentPerimeter.points;
            choosePerimeterItemById(currentPerimeter.perimeterID);
            drawPerimeter();
        } else {
            console.log("No perimeter selected");
        }
    </script>

</body>

</html>