<!-- HEADER -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="nav">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/images/fly_eye_logo_without_background.png" alt="Fly eye logo" width="165" height="60">
            </a>
            <ul class="navbar-nav flex-row align-items-center ms-auto mx-3">
                <li class="nav-item mx-3">
                    <a href="/" type="button"
                        th:classappend="${page == 'radar'} ? 'btn btn-primary' : 'btn btn-outline-primary'">
                        <span>Radar</span>
                    </a>
                </li>
                <li class="nav-item md-3">
                    <a href="/history" type="button"
                        th:classappend="${page == 'history'} ? 'btn btn-primary me-2' : 'btn btn-outline-primary me-2'">
                        <span>History</span>
                    </a>
                </li>

            </ul>
        </div>
    </nav>
</div>

</html>
<!-- FIN HEADER -->